@charset "UTF-8";
/*! ===============================================================
  このCSSファイルはSassから生成されています！
  編集しないようご注意ください。
================================================================ */
/* ===============================================================
  Foundation
  基本的なスタイルの定義
================================================================ */
/* ================================================================
  リセットCSS
   ================================================================ */
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ================================================================
  ベース
   ================================================================ */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', 'Quicksand', sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

/* ================================================================
  メディアクエリ
   ================================================================ */
/* ===============================================================
  Layout
  レイアウト
================================================================ */
/* ================================================================
  ヘッダーレイアウト
   ================================================================ */
.l-header {
  width: 100%;
}

/* ================================================================
  メインレイアウト
   ================================================================ */
.l-main {
  width: 100%;
  padding-top: 80px;
}

/* ================================================================
  フッターレイアウト
   ================================================================ */
.l-footer {
  width: 100%;
}

/* ===============================================================
  Component
  コンポーネント
================================================================ */
/* ===================================================================
  ボタンコンポーネント
   =================================================================== */
.c-button, .c-button--clear {
  border: 2px solid #333;
  width: 220px;
  height: 53px;
  background-color: #fff;
  text-align: center;
  line-height: 53px;
}

.c-button a, .c-button--clear a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 49px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.c-button--clear {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
}

.c-button--clear a {
  font-size: 1.4rem;
  color: #fff;
}

/* ===================================================================
  テキストコンポーネント
   =================================================================== */
.c-sectionTitle {
  font-size: 2rem;
  color: #333;
  text-align: center;
  letter-spacing: .15em;
  line-height: 1;
}

@media screen and (min-width: 560px) {
  .c-sectionTitle {
    font-size: 2.4rem;
    letter-spacing: .14em;
  }
}

.c-sectionTitle::after {
  display: inline-block;
  margin-top: 17px;
  font-family: 'Quicksand', serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #aa8f7b;
  letter-spacing: .05em;
}

@media screen and (min-width: 560px) {
  .c-sectionTitle::after {
    font-size: 1.5rem;
  }
}

/* ===============================================================
  Project
  プロジェクト
================================================================ */
/* ================================================================
  ヘッダー
   ================================================================ */
.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 1500px;
  height: 80px;
  left: 50%;
  margin-left: -750px;
  z-index: 100;
  background-color: #fcfcfc;
}

.p-header__logo {
  margin: 29px 0 28px 40px;
}

.p-header__logo img {
  display: block;
}

.p-header__logo a {
  display: block;
}

.p-header__nav-onlineStore-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.p-header__item {
  margin-right: 37px;
}

.p-header__item a {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 80px;
  padding-bottom: 3px;
  text-decoration: none;
  letter-spacing: .05em;
  color: #333;
  border-bottom: 2px solid #fcfcfc;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__item a:hover {
  border-bottom: 2px solid #333;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__onlineStore {
  font-family: 'Quicksand', serif;
  width: 195px;
  background-color: #24a2b3;
  background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/ico_cart_small.png?raw=true);
  background-position: top 30px left 23px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__onlineStore:hover {
  opacity: .7;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__onlineStore a {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 80px;
  display: block;
  padding-left: 56px;
  text-decoration: none;
  letter-spacing: .05em;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__contact {
  width: 175px;
  background-color: #aa8f7b;
  background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/ico_mail.png?raw=true);
  background-position: top 34px left 26px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__contact:hover {
  opacity: .7;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-header__contact a {
  font-size: 1.5rem;
  line-height: 80px;
  display: block;
  padding-left: 57px;
  text-decoration: none;
  letter-spacing: .05em;
  color: #fff;
}

/* ================================================================
  メインヴィジュアル
   ================================================================ */
.p-mainVisual {
  position: relative;
  width: 1500px;
  height: 610px;
  margin: 0 auto;
}

.p-mainVisual::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 1500px;
  height: 610px;
  background-color: rgba(140, 118, 101, 0.2);
  content: '';
}

.p-mainVisual__catch {
  position: absolute;
  z-index: 20;
  top: 234px;
  left: 105px;
}

.p-mainVisual__catch p {
  font-family: 'Noto Serif JP', serif;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: .24em;
}

.slideshow {
  position: relative;
  overflow: hidden;
  min-width: 960px;
  height: 610px;
  background-color: #8c7665;
}

.slideshow-slides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow-slides .slide {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slideshow-slides .slide img {
  position: absolute;
  left: 50%;
  margin-left: -750px;
}

.slideshow-indicator {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 100px;
  left: 0;
  height: 20px;
  text-align: center;
}

.slideshow-indicator a {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.slideshow-indicator a::before {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  content: url(https://github.com/foolish-pine/KAGU/blob/master/image/bullet__white.png?raw=true);
  background-size: 10px 10px;
}

.slideshow-indicator a.active {
  cursor: default;
}

.slideshow-indicator a.active::before {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  content: url(https://github.com/foolish-pine/KAGU/blob/master/image/bullet_blue.png?raw=true);
  background-size: 10px 10px;
}

/* ================================================================
  お知らせ
   ================================================================ */
#news {
  display: block;
  margin-top: -160px;
  padding-top: 160px;
}

.p-news {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: #f7f6f5;
}

.p-news__wrapper {
  position: relative;
  z-index: 50;
  width: 90%;
  max-width: 960px;
  margin: -40px auto 0;
  padding: 40px 0;
  background-color: #fff;
}

@media screen and (min-width: 960px) {
  .p-news__wrapper {
    margin: -80px auto 0;
    padding: 77px 60px 81px;
  }
}

.p-news__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 560px) {
  .p-news__title {
    margin-bottom: 53px;
  }
}

.p-news__title::after {
  content: 'NEWS';
}

.p-news__articleContainer {
  display: -ms-grid;
  display: grid;
  padding: 0 20px;
}

@media screen and (min-width: 560px) {
  .p-news__articleContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    gap: 5.5% 7.5%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.p-news__articleContainer a {
  margin-bottom: 30px;
  text-decoration: none;
}

.p-news__articleDate {
  margin-bottom: 15px;
  white-space: nowrap;
}

.p-news__articleDate time {
  display: inline-block;
  font-family: 'Quicksand', serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  letter-spacing: .05em;
}

.p-news__articleDate p {
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
  background-color: #24a2b3;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: .05em;
}

.p-news__articleHeadline {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  letter-spacing: .05em;
  line-height: 1.71;
  text-align: justify;
}

.p-news__button {
  margin: 0 auto;
}

.p-news__button a:hover {
  background-color: #333;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/* ================================================================
  取り扱い家具
   ================================================================ */
#furniture {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-furniture {
  width: 1500px;
  margin: 0 auto;
}

.p-furniture__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 0 20px;
}

.p-furniture__title {
  margin-bottom: 47px;
}

.p-furniture__title::after {
  content: 'FURNITURE';
}

.p-furniture__twoColumnsContainer {
  display: -ms-grid;
  display: grid;
  margin-bottom: 80px;
  gap: 80px 60px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.p-furniture__twoColumnsImage {
  width: 610px;
  height: 610px;
}

.p-furniture__twoColumnsText {
  width: 610px;
  padding-top: 188px;
}

.p-furniture__twoColumnsText h3 {
  margin-bottom: 25px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  letter-spacing: .05em;
}

.p-furniture__twoColumnsText p {
  margin-bottom: 56px;
  font-size: 1.5rem;
  letter-spacing: .06em;
  line-height: 2;
}

.p-furniture__twoColumnsButton a:hover {
  background-color: #333;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.p-furniture__threeColumns {
  display: -ms-grid;
  display: grid;
  margin-bottom: 79px;
  gap: 70px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.p-furniture__threeColumns h3 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: .05em;
}

.p-furniture__threeColumns p {
  margin-bottom: 54px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: .05em;
  line-height: 2;
}

.p-furniture__threeColumnsImage {
  margin-bottom: 27px;
}

.p-furniture__threeColumnsButton {
  margin: 0 auto;
}

.p-furniture__threeColumnsButton a:hover {
  background-color: #333;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/* ================================================================
  販売店・オンラインストア
   ================================================================ */
#shop {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-shop {
  width: 1500px;
  margin: 0 auto;
  background-color: #f7f6f5;
}

.p-shop__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 0 40px;
}

.p-shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.p-shop__textContainer {
  margin-left: 70px;
}

.p-shop__image {
  width: 380px;
  height: 200px;
}

.p-shop h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: .05em;
  line-height: 1;
}

.p-shop p {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  letter-spacing: .05em;
  line-height: 2;
}

.p-shop__link {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  letter-spacing: .05em;
}

.p-shop__link::after {
  margin-left: 8px;
  content: url(/image/arrow.png);
}

/* ================================================================
  採用情報
   ================================================================ */
#shop {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-recruit {
  width: 1500px;
  height: 430px;
  margin: 0 auto;
  padding: 80px 0 0;
  text-align: center;
  background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/bg_recruit.jpg?raw=true);
}

.p-recruit__title {
  margin-bottom: 43px;
  color: #fff;
}

.p-recruit__title::after {
  content: 'RECRUIT';
  color: #fff;
}

.p-recruit__text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 54px;
  letter-spacing: .2em;
  color: #fff;
}

.p-recruit__button {
  margin: 0 auto;
}

/* ================================================================
  フッター
   ================================================================ */
.p-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1500px;
  margin: 0 auto;
  padding: 47px 110px;
  background-color: #292929;
}

.p-footer__pagetop {
  position: relative;
  width: 1500px;
  height: 0;
  margin: 0 auto;
}

.p-footer__pagetop a {
  position: absolute;
  top: -30px;
  right: 110px;
  display: block;
  width: 120px;
  height: 30px;
  background-color: #292929;
  font-family: 'Quicksand', serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 30px;
}

.p-footer__logo {
  margin-bottom: 16px;
}

.p-footer__address {
  margin-bottom: 19px;
}

.p-footer__address p {
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: .05em;
  line-height: 1.71;
}

.p-footer__tel {
  margin-bottom: 91px;
}

.p-footer__tel p {
  font-family: 'Quicksand', serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: .05em;
}

.p-footer__tel p span {
  font-size: 2rem;
}

.p-footer__copyright p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: .05em;
}

.p-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.p-footer__list {
  margin-bottom: 10px;
  margin-left: 100px;
  list-style: none;
}

.p-footer__item {
  margin-bottom: 16px;
}

.p-footer__item a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  letter-spacing: .05em;
}

.p-footer__subList {
  padding-top: 8px;
  list-style: none;
}

.p-footer__subItem {
  margin-bottom: 6px;
  padding-left: 10px;
}

.p-footer__subItem a {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  letter-spacing: .05em;
}

.p-footer__privacyPolicy a {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-align: right;
  text-decoration: none;
  letter-spacing: .05em;
}
