/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

.c-button {
	width: 220px;
	height: 50px;
	border: 2px solid $color-button;
	background-color: #fff;
	text-align: center;

  @include mq(pc-md) {
		height: 53px;
	}

	a {
		display: block;
		line-height: 46px;
		color: $color-button;
		font-weight: bold;
		font-size: 1.4rem;
		text-decoration: none;
		letter-spacing: .1em;
		transition: all .4s;

		@include mq(pc-md) {
			line-height: 49px;
			font-size: 1.5rem;
		}

		&:hover {
			color: #fff;
			background-color: $color-button;
			transition: all .4s;
		}
	}
}

.c-button--clear {
	@extend .c-button;
	height: 45px;
	border: 2px solid #fff;
	background-color: rgba(0, 0, 0, 0);

  @include mq(pc-md) {
		height: 53px;
	}

	a {
		line-height: 41px;
    color: #fff;
    transition: none;

		@include mq(pc-md) {
			line-height: 49px;
			font-size: 1.4rem;
		}

		&:hover {
			color: #fff;
			background-color: rgba(0, 0, 0, 0);
			transition: none;
		}
	}
}
