/* ===================================================================
  テキストコンポーネント
   =================================================================== */

.c-sectionTitle {
  font-size: 2.4rem;
  color: $color-text;
  text-align: center;
  letter-spacing: .14em;
  line-height: 1;

  &::after {
    display: inline-block;
    margin-top: 17px;
    font-family: 'Quicksand', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-text-titleEnglish;
    letter-spacing: .05em;
  }
}
