<!-- フッターここから -->
<footer class="l-footer">
  <div class="p-footer__pagetop js-pagetop">
    <a href="#">
      PAGE TOP
    </a>
  </div>
  <div class="p-footer">
    <div class="p-footer__wrapper">
      <div class="p-footer__logo-address-tel">
        <div class="p-footer__logo">
          <h1><a href="#"><img src="<%= path %>/img/img_logo_footer.png" alt="KAGU"></a></h1>
        </div>
        <div class="p-footer__address">
          <p>
            株式会社KAGU<br>
            愛知県名古屋市〇〇区〇〇町 XX-X
          </p>
        </div>
        <div class="p-footer__tel">
          <p>
            <span>TEL. </span>052-000-0000
          </p>
        </div>
      </div>
      <nav class="p-footer__nav">
        <ul class="p-footer__list">
          <li class="p-footer__item">
            <a href="#">
              私たちの考え
            </a>
          </li>
          <li class="p-footer__item p-footer__sub-nav">取扱い家具
            <ul class="p-footer__sub-list">
              <li class="p-footer__sub-item"><a href="#">テーマで探す</a></li>
              <li class="p-footer__sub-item"><a href="#">カラーで探す</a></li>
              <li class="p-footer__sub-item"><a href="#">シーンで探す</a></li>
              <li class="p-footer__sub-item"><a href="#">ブランドで探す</a></li>
              <li class="p-footer__sub-item"><a href="#">素材で探す</a></li>
            </ul>
            <button class="p-footer__menu js-cross-menu">
              <span class="p-footer__menu-line js-cross-menu-line"></span>
              <span class="p-footer__menu-line js-cross-menu-line"></span>
            </button>
          </li>
        </ul>
        <ul class="p-footer__list p-footer__list--second">
          <li class="p-footer__item"><a href="#">販売店・展示場一覧</a></li>
          <li class="p-footer__item"><a href="#">採用情報</a></li>
          <li class="p-footer__item"><a href="#">お知らせ</a></li>
          <li class="p-footer__item"><a href="#">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
    <div class="p-footer__privacypolicy-copyright">
      <div class="p-footer__privacypolicy">
        <a href="#">
          プライバシーポリシー
        </a>
      </div>
      <p class="p-footer__copyright">
        © 2020 KAGU inc.
      </p>
    </div>
  </div>
</footer>
<!-- jQuery -->
<script src="<%= path %>/js/jQuery/jquery-3.5.0.min.js"></script>
<script src="<%= path %>/js/plugin/ofi.min.js"></script>
<script src="<%= path %>/js/main.js"></script>
<script>
  objectFitImages();
</script>
</body>

</html>