/* ================================================================
  フッター
   ================================================================ */


.p-footer {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 31px 0;
  background-color: $bg-color-footer;
  
  @include mq(pc-md) {
		padding: 60px 110px 40px;
	}

	&__logo-address-tel-nav {
		@include mq(pc-md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__pagetop {
		display: none;
		position: relative;
		max-width: 1500px;
		height: 0;
		margin: 0 auto;
    
    @include mq(pc-md) {
			display: block;
		}

		a {
			display: block;
			position: absolute;
			top: -30px;
			right: 110px;
			width: 120px;
			height: 30px;
			line-height: 30px;
			color: $color-footer-text;
			background-color: $bg-color-footer;
			font-family: 'Quicksand', serif;
			font-weight: 500;
			text-align: center;
			text-decoration: none;
			letter-spacing: .1em;
		}
	}

	&__logo-address-tel {
		padding-bottom: 26px;
		border-bottom: 1px solid #555;
		text-align: center;
    
    @include mq(pc-md) {
			border: none;
			text-align: left;
		}
	}

	&__logo {
		width: 110px;
		margin: 0 auto 14px;

    @include mq(pc-md) {
			width: 146px;
			height: 23px;
			margin: 0 0 28px;
		}

		a {
			display: block;
		}

		img {
			display: block;
		}
	}

	&__address {
		margin-bottom: 19px;

    @include mq(pc-md) {
			margin-bottom: 19px;
		}

		p {
			line-height: 1.71;
			color: $color-footer-text;
			font-size: 1.4rem;
			letter-spacing: .05em;
		}
	}

	&__tel {

		a {
			color: $color-footer-text;
			text-decoration: none;
		}

		p {
			color: $color-footer-text;
			font-family: 'Quicksand', serif;
			font-weight: medium;
			font-size: 2.4rem;
			letter-spacing: .05em;

			span {
				font-size: 2rem;
			}
		}
	}

	&__nav {
		@include mq(pc-md) {
			margin-top: 2px;
		}

    @include mq(pc-md) {
			display: flex;
		}
	}

	&__list {
		list-style: none;

    @include mq(pc-md) {
			margin-bottom: 10px;
		}
	}

	&__item {
		line-height: 52px;
		padding-left: 20px;
		border-bottom: 1px solid $color-footer-border;
		color: $color-footer-text;
		background-image: url(../../../image/img_arrow_white.png);
		background-position: top 24px right 20px;

    @include mq(pc-md) {
			line-height: 1;
			margin-bottom: 26px;
			padding: 0;
			border: none;
			background: none;
		}

		a {
			display: block;
			color: $color-footer-text;
			font-size: 1.4rem;
			font-size: 1.4rem;
			text-decoration: none;
			letter-spacing: .05em;
		}
	}

	&__subNav {
		display: block;
		position: relative;
		color: $color-footer-text;
		background: none;
		font-size: 1.4rem;
		font-size: 1.4rem;
		text-decoration: none;
		letter-spacing: .05em;
		cursor: pointer;
	}

	&__menu {
		position: absolute;
		top: 18px;
		right: 21px;
		z-index: 10;
		width: 17px;
		height: 17px;
    
    @include mq(pc-md) {
			display: none;
		}
	}

	&__menuLine {
		display: block;
		position: absolute;
		background: $color-footer-text;
		transition: transform .3s;

    @include mq(pc-md) {
			display: none;
		}

		&:first-child {
			top: 8px;
			width: 17px;
			height: 1px;
		}

		&:nth-child(2) {
			left: 8px;
			width: 1px;
			height: 17px;

			&.active {
				transform: rotate(90deg);
			}
		}
	}

	&__subList {
		display: none;
		padding: 2px 0 11px;
    list-style: none;
    
    @include mq(pc-md) {
			display: block;
			padding-top: 8px;
		}
	}

	&__subItem {
		line-height: 33px;

    @include mq(pc-md) {
			line-height: 1;
			margin-bottom: 17px;
			padding-left: 10px;

			&:first-child {
				margin-top: 10px;
			}
		}

		a {
			color: $color-footer-text;
			font-size: 1.3rem;
			text-decoration: none;
			letter-spacing: .05em;
		}
	}

	&__list--right {
		.p-footer__item {
			line-height: 54px;
      padding-left: 28px;
      
      @include mq(pc-md) {
				line-height: 1;
				padding-left: 92px;
			}
		}
	}

	&__PrivacyPolicy-copyright {
		width: 100%;
		margin: 0 auto;
		padding: 15px 0 33px;
    text-align: center;
    
    @include mq(pc-md) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			margin: -34px auto;
			padding: 0;
			text-align: left;
		}
	}

	&__privacyPolicy {
		margin-bottom: 24px;

    @include mq(pc-md) {
			display: flex;
		}

		a {
			display: block;
			color: $color-footer-text;
			font-size: 1.2rem;
			text-decoration: none;
			letter-spacing: .05em;
		}
	}

	&__copyright {
		p {
			color: $color-footer-text;
			font-size: 1.2rem;
			letter-spacing: .05em;
		}
	}
}
