/* ================================================================
  取り扱い家具
   ================================================================ */

.p-furniture {
	max-width: 1500px;
	margin: 0 auto;
	margin-top: -60px; //ナビゲーションからのリンク位置調整
	padding-top: 60px; //ナビゲーションからのリンク位置調整

	@include mq(pc-md) {
		margin-top: -80px; //ナビゲーションからのリンク位置調整
		padding-top: 80px; //ナビゲーションからのリンク位置調整
	}

	&__wrapper {
		width: calc((335/375) * 100%);
		max-width: 1280px;
		margin: 0 auto;
		padding: 35px 0 40px;

		@include mq(pc-md) {
			margin: 0 auto;
			padding: 81px 0 100px;
		}
;
	}

	&__title {
		margin-bottom: 58px;

		@include mq(pc-md) {
			margin-bottom: 45px;
		}

		&::after {
			content: 'FURNITURE';
		}
	}

	&__twoColumns {
		display: grid;
		gap: 60px;
		padding-bottom: 60px;

		@include mq(tab) {
			gap: 78px;
			padding-bottom: 80px;
		}

		:nth-of-type(2) {
			p {
				margin-bottom: 23px;
			}
		}
	}

	&__twoColumnsContent {
		@include mq(tab) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:nth-child(even) {
			@include mq(tab) {
				flex-direction: row-reverse;
			}
		}

		img {
			margin-bottom: 18px;

			@include mq(tab) {
				width: calc((610/1280) * 100%);
				margin-bottom: 0;
			}
		}
	}

	&__twoColumnsText {
		@include mq(tab) {
			width: calc((610/1280) * 100%);
		}

		h3 {
			margin-bottom: 17px;
			color: $color-text;
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: .05em;

			@include mq(pc-md) {
				margin-bottom: 25px;
				font-size: 2.4rem;
			}
		}

		p {
			line-height: 2;
			margin-bottom: 52px;
			font-size: 1.5rem;
			letter-spacing: .06em;

			@include mq(pc-md) {
				margin-bottom: 54px;
			}
		}
	}

	&__twoColumnsButton {
		margin: 0 auto;

		@include mq(tab) {
			margin: 0;
		}
	}

	&__threeColumns {
		display: grid;
		gap: 60px;

		@include mq(tab) {
			grid-template-columns: 1fr 1fr;
		}

		@include mq(pc-md) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 70px;
		}
	}

	&__threeColumnsContent {
		img {
			margin-bottom: 18px;

			@include mq(pc-md) {
				margin-bottom: 28px;
			}
		}
	}

	&__threeColumnsText {
		h3 {
			margin-bottom: 17px;
			color: $color-text;
			font-weight: medium;
			font-size: 2rem;
			letter-spacing: .05em;

			@include mq(pc-md) {
				margin-bottom: 17px;
			}
		}

		p {
			line-height: 2;
			margin-bottom: 23px;
			font-size: 1.5rem;
			letter-spacing: .05em;

			@include mq(pc-md) {
				margin-bottom: 52px;
			}
		}
	}

	&__threeColumnsButton {
		margin: 0 auto;
	}
}
