/* ================================================================
  取り扱い家具
   ================================================================ */

#furniture {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-furniture {
  width: 1500px;
  margin: 0 auto;

  &__wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0 20px;
  }

  &__title {
    margin-bottom: 47px;

    &::after {
      content: 'FURNITURE';
    }
  }

  &__twoColumnsContainer {
    display: grid;
    margin-bottom: 80px;

    gap: 80px 60px;
    grid-template-columns: 1fr 1fr;
  }

  &__twoColumnsImage {
    width: 610px;
    height: 610px;
  }

  &__twoColumnsText {
    width: 610px;
    padding-top: 188px;

    h3 {
      margin-bottom: 25px;
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-text;
      letter-spacing: .05em;
    }

    p {
      margin-bottom: 56px;
      font-size: 1.5rem;
      letter-spacing: .06em;
      line-height: 2;
    }
  }

  &__twoColumnsButton {
    a {
      &:hover {
        background-color: $color-button-hover;
        color: #fff;
        transition: all .4s;
      }
    }
  }

  &__threeColumns {
    display: grid;
    margin-bottom: 79px;

    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;

    h3 {
      margin-bottom: 15px;
      font-size: 2rem;
      font-weight: 500;
      color: $color-text;
      letter-spacing: .05em;
    }

    p {
      margin-bottom: 54px;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: justify;
      letter-spacing: .05em;
      line-height: 2;
    }
  }

  &__threeColumnsImage {
    margin-bottom: 27px;
  }

  &__threeColumnsButton {
    margin: 0 auto;

    a {
      &:hover {
        background-color: $color-button-hover;
        color: #fff;
        transition: all .4s;
      }
    }
  }
}
