/* ===================================================================
  取り扱い家具
   =================================================================== */

.p-furniture {
  width: 1500px;
  margin: 0 auto;

  &__wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0 20px;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 47px;
    text-align: center;
    letter-spacing: .15em;
    color: $color-text;

    span {
      font-family: 'Quicksand';
      font-size: .94rem;
      font-weight: 700;
      display: inline-block;
      margin-top: 17px;
      letter-spacing: .05em;
      color: $color-text-titleEnglish;
    }
  }

  &__twoColumnsContainer {
    display: grid;
    margin-bottom: 80px;

    gap: 80px 60px;
    grid-template-columns: 1fr 1fr;
  }

  &__twoColumnsImage {
    width: 610px;
    height: 610px;
  }

  &__twoColumnsText {
    width: 610px;
    padding-top: 188px;

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 25px;
      letter-spacing: .05em;
      color: $color-text;
    }

    p {
      line-height: 1.875rem;
      margin-bottom: 55px;
    }
  }

  &__twoColumnsButton {
    a {
      &:hover {
        transition: all .4s;
        color: #fff;
        background-color: $color-button-hover;
      }
    }
  }

  &__threeColumns {
    display: grid;
    margin-bottom: 79px;

    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;

    h3 {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: .05em;
      color: $color-text;
    }

    p {
      font-size: .94rem;
      font-weight: 400;
      line-height: 1.875rem;
      margin-bottom: 55px;
      letter-spacing: .05em;
    }
  }

  &__threeColumnsImage {
    margin-bottom: 27px;
  }

  &__threeColumnsButton {
    margin: 0 auto;

    a {
      &:hover {
        transition: all .4s;
        color: #fff;
        background-color: $color-button-hover;
      }
    }
  }
}