/* ================================================================
  フッター
   ================================================================ */


.p-footer {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  margin: 0 auto;
  padding: 47px 110px;
  background-color: $bg-color-footer;

  &__pagetop {
    position: relative;
    width: 1500px;
    height: 0;
    margin: 0 auto;

    a {
      position: absolute;
      top: -30px;
      right: 110px;
      display: block;
      width: 120px;
      height: 30px;
      background-color: $bg-color-footer;
      font-family: 'Quicksand', serif;
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-decoration: none;
      letter-spacing: .1em;
      line-height: 30px;
    }
  }

  &__logo {
    margin-bottom: 14px;
  }

  &__address {
    margin-bottom: 20px;

    p {
      font-size: .875rem;
      color: #fff;
      letter-spacing: .05em;
      line-height: 1.71;
    }
  }

  &__tel {
    margin-bottom: 91px;

    p {
      font-family: 'Quicksand', serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      letter-spacing: .05em;

      span {
        font-size: 1.25rem;
      }
    }
  }

  &__copyright {
    p {
      font-size: .75rem;
      font-weight: 400;
      color: #fff;
      letter-spacing: .05em;
    }
  }

  &__nav {
    display: flex;
    margin-top: 8px;
  }

  &__list {
    margin-bottom: 10px;
    margin-left: 100px;
    list-style: none;
  }

  &__item {
    margin-bottom: 17px;

    a {
      font-size: .875rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      letter-spacing: .05em;
    }
  }

  &__subList {
    padding-top: 8px;
    list-style: none;
  }

  &__subItem {
    margin-bottom: 6px;
    padding-left: 10px;

    a {
      font-size: .75rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      letter-spacing: .05em;
    }
  }

  &__privacyPolicy {
    a {
      display: block;
      font-size: .75rem;
      font-weight: 400;
      color: #fff;
      text-align: right;
      text-decoration: none;
      letter-spacing: .05em;
    }
  }
}
