/* ===================================================================
  ヘッダー
   =================================================================== */

.p-header {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 80px;
  margin: 0 auto;
  background-color: $bg-color-header;

  &__logo {
    margin: 29px 0 28px 40px;

    img {
      display: block;
    }

    a {
      display: block;
    }
  }

  &__nav-onlineStore-contact {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 37px;

    a {
      font-size: .94rem;
      font-weight: bold;
      line-height: 80px;
      padding-bottom: 3px;
      text-decoration: none;
      letter-spacing: .05em;
      color: $color-text;
      border-bottom: 2px solid $bg-color-header;
      transition: all .4s;

      &:hover {
        border-bottom: 2px solid $color-header-item-hover;
        transition: all .4s;
      }
    }
  }

  &__onlineStore {
    font-family: 'Quicksand';
    width: 195px;
    background-color: $color-header-onlineStore;
    background-image: url(image/ico_cart_small.png);
    background-position: top 30px left 23px;
    transition: all .4s;
    
    &:hover {
      opacity: .7;
      transition: all .4s;
    }

    a {
      font-size: .94rem;
      font-weight: 500;
      line-height: 80px;
      display: block;
      padding-left: 56px;
      text-decoration: none;
      letter-spacing: .05em;
      color: #fff;
      transition: all .4s;
    }
  }

  &__contact {
    width: 175px;
    background-color: $color-header-contact;
    background-image: url(image/ico_mail.png);
    background-position: top 34px left 26px;
    transition: all .4s;
    
    &:hover {
      opacity: .7;
      transition: all .4s;
    }


    a {
      font-size: .94rem;
      line-height: 80px;
      display: block;
      padding-left: 57px;
      text-decoration: none;
      letter-spacing: .05em;
      color: #fff;
    }
  }

  
}