/* ===================================================================
  メインヴィジュアル
   =================================================================== */

.p-mainVisual {
  width: 1500px;
  height: 610px;
  margin: 0 auto;
  background-image: url(../../../image/bg_recruit.jpg));
}