/* ===================================================================
  メインヴィジュアル
   =================================================================== */

.p-mainVisual {
  width: 1500px;
  height: 610px;
  margin: 0 auto;
<<<<<<< HEAD
  background-image: url(../../../image/bg_recruit.jpg));
}
=======
  background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/bg_hero_01.jpg?raw=true);
}
>>>>>>> origin/master
