/* ================================================================
  ニュース
   ================================================================ */

#news {
  display: block;
  margin-top: -160px;
  padding-top: 160px;
}

.p-news {
  position: relative;
  width: 1500px;
  height: 610px;
  margin: 0 auto;
  background-color: $bg-color-news;

  &__wrapper {
    position: absolute;
    z-index: 50;
    top: -80px;
    right: 0;
    left: 0;
    width: 960px;
    margin: 0 auto;
    padding: 77px 80px 81px;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 54px;

    &::after {
      content: 'NEWS';
    }
  }

  &__articleContainer {
    display: grid;
    margin-bottom: 56px;

    gap: 42px 69px;
    grid-template-columns: 360px 380px;

    a {
      text-decoration: none;
    }
  }

  &__articleDate {
    margin-bottom: 15px;

    time {
      display: inline-block;
      font-family: 'Quicksand', serif;
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-text;
      letter-spacing: .05em;
    }

    p {
      display: inline-block;
      margin-left: 15px;
      padding: 1px 10px;
      background-color: $color-news-tag;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      letter-spacing: .05em;
    }
  }

  &__articleHeadline {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-text;
    text-align: justify;
    letter-spacing: .05em;
    line-height: 1.71;
  }

  &__button {
    margin: 0 auto;

    a {
      &:hover {
        background-color: $color-button-hover;
        color: #fff;
        transition: all .4s;
      }
    }
  }
}
