/* ================================================================
  お知らせ
   ================================================================ */

#news {
  display: block;
  margin-top: -160px;
  padding-top: 160px;
}

.p-news {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: $bg-color-news;

  &__wrapper {
    position: relative;
    z-index: 50;
    width: 90%;
    max-width: 960px;
    margin: -5.3% auto 0;
    padding: 5% 3.75%;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 30px;

    @include mq(tab) {
      margin-bottom: 53px;
    }

    &::after {
      content: 'NEWS';
    }
  }

  &__articleContainer {
    display: grid;
    padding: 0 20px;

    @include mq(tab) {
      justify-content: space-between;
      margin-bottom: 40px;
      gap: 5.5% 7.5%;
      grid-template-columns: repeat(2, 1fr);
    }

    a {
      margin-bottom: 30px;
      text-decoration: none;
    }
  }

  &__articleDate {
    margin-bottom: 15px;
    white-space: nowrap;

    time {
      display: inline-block;
      font-family: 'Quicksand', serif;
      font-size: 1.4rem;
      font-weight: bold;
      color: $color-text;
      letter-spacing: .05em;
    }

    p {
      display: inline-block;
      margin-left: 15px;
      padding: 1px 10px;
      background-color: $color-news-tag;
      font-size: 1.2rem;
      font-weight: medium;
      color: #fff;
      letter-spacing: .05em;
    }
  }

  &__articleHeadline {
    font-size: 1.4rem;
    font-weight: medium;
    color: $color-text;
    letter-spacing: .05em;
    line-height: 1.71;
    text-align: justify;
  }

  &__button {
    margin: 0 auto;

    a {
      &:hover {
        background-color: $color-button-hover;
        color: #fff;
        transition: all .4s;
      }
    }
  }
}
