/* ================================================================
  採用情報
   ================================================================ */

.p-recruit {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: -60px; //ナビゲーションからのリンク位置調整
  padding-top: 60px; //ナビゲーションからのリンク位置調整

  @include mq(pc-md) {
    margin-top: -80px; //ナビゲーションからのリンク位置調整
    padding-top: 80px; //ナビゲーションからのリンク位置調整
  }
  
  &__wrapper {
    padding: 39px 20px;
    text-align: center;
    background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/bg_recruit.jpg?raw=true);
    background-position: center;
    
    @include mq(pc-md) {
      height: 430px;
      padding: 79px 0;
      padding-bottom: 79px;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: #fff;

    @include mq(pc-md) {
      margin-bottom: 43px;
		}

    &::after {
      content: 'RECRUIT';
      color: #fff;
    }
  }

  &__text {
    p {
      font-size: 1.5rem;
      font-weight: medium;
      line-height: calc(32/15);
      margin-bottom: 21px;
      letter-spacing: .2em;
      color: #fff;
      
      @include mq(tab) {
        font-size: 1.6rem;
        line-height: 2;
        margin-bottom: 54px;
      }
    }
  }

  &__button {
    margin: 0 auto;
  }
}