/* ================================================================
  採用情報
   ================================================================ */

#shop {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-recruit {
  width: 1500px;
  height: 430px;
  margin: 0 auto;
  padding: 80px 0 0;
  text-align: center;
  background-image: url(https://github.com/foolish-pine/KAGU/blob/master/image/bg_recruit.jpg?raw=true);

  &__title {
    margin-bottom: 43px;
    color: #fff;

    &::after {
      content: 'RECRUIT';
      color: #fff;
    }
  }

  &__text {
    p {
      font-size: 1rem;
      font-weight: 500;
      line-height: 2;
      margin-bottom: 54px;
      letter-spacing: .2em;
      color: #fff;
    }
  }

  &__button {
    margin: 0 auto;

    a {
      font-size: .875rem;
    }
  }
}