/* ================================================================
  販売店・オンラインストア
   ================================================================ */

#shop {
	display: block;
	margin-top: -80px;
	padding-top: 80px;
}

.p-shop {
	max-width: 1500px;
	margin: 0 auto;
	background-color: $bg-color-shop;

	&__wrapper {
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 40px 0 50px;

    @include mq(tab) {
			padding: 80px 0 40px;
		}
	}

	&__container {
		margin-bottom: 60px;

		@include mq(tab) {
			display: flex;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textContainer {
		@include mq(tab) {
			margin-left: 70px;
		}
	}

	&__image {
		width: 100%;
		margin-bottom: 30px;

    @include mq(tab) {
			max-width: 380px;
			margin-bottom: 0;
		}
	}

	h3 {
		line-height: 1;
		margin-bottom: 30px;
		color: $color-text;
		font-weight: medium;
		font-size: 2rem;
		letter-spacing: .05em;
      @include mq(tab) {
			margin-bottom: 20px;
		}
	}

	p {
		line-height: 2;
		margin-bottom: 40px;
		color: $color-text;
		font-size: 1.5rem;
		letter-spacing: .05em;
    @include mq(tab) {
			margin-bottom: 45px;
		}
	}


	&__link {
		color: $color-text;
		font-weight: bold;
		font-size: 1.5rem;
		text-decoration: none;
		letter-spacing: .05em;

		&::after {
			margin-left: 8px;
			content: url(/image/arrow.png);
		}
	}
}
