/* ===================================================================
  販売店・オンラインストア
   =================================================================== */

#shop {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
}

.p-shop {
  width: 1500px;
  margin: 0 auto;
  background-color: $bg-color-shop;

  &__wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0 40px;
  }

  &__container {
    display: flex;
    margin-bottom: 60px;
  }

  &__textContainer {
    margin-left: 70px;
  }

  &__image {
    width: 380px;
    height: 200px;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: .05em;
    color: $color-text;
  }

  p {
    font-size: .94rem;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 45px;
    letter-spacing: .05em;
    color: $color-text;
  }


  &__link {
    font-size: .94rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .05em;
    color: $color-text;

    &::after {
      content: url(/image/arrow.png);
      margin-left: 8px;
    }
  }
}