/* ================================================================
  販売店・オンラインストア
   ================================================================ */

.p-shop {
	max-width: 1500px;
	margin: 0 auto;
	margin-top: -60px; //ナビゲーションからのリンク位置調整
  padding-top: 60px; //ナビゲーションからのリンク位置調整
	
	@include mq(pc-md) {
		margin-top: -80px; //ナビゲーションからのリンク位置調整
		padding-top: 80px; //ナビゲーションからのリンク位置調整
	}
	
	&__wrapper {
		max-width: 1500px;
		margin: 0 auto;
		padding: 40px 0 43px;
		background-color: $bg-color-shop;
		
		@include mq(pc-md) {
			padding: 80px 0 96px;
		}
	}
	
	&__container {
		width: calc((335/375) * 100%);
		max-width: 1280px;
		margin: 0 auto;
		margin-bottom: 55px;

		@include mq(tab) {
			display: flex;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textContainer {
		@include mq(tab) {
			width: calc((829/1280) * 100%);
			margin-left: 70px;
		}
	}

	&__image {
		width: 100%;
		margin-bottom: 24px;

		@include mq(tab) {
			max-width: 380px;
			margin-bottom: 0;
		}
	}

	h3 {
		line-height: 1;
		margin-bottom: 21px;
		color: $color-text;
		font-weight: medium;
		font-size: 2rem;
		letter-spacing: .05em;

		@include mq(pc-md) {
			margin-bottom: 21px;
		}
	}

	p {
		line-height: 2;
		margin-bottom: 26px;
		color: $color-text;
		font-size: 1.5rem;
		letter-spacing: .05em;

		@include mq(pc-md) {
			margin-bottom: 45px;
		}
	}


	&__link {
		color: $color-text;
		font-weight: bold;
		font-size: 1.5rem;
		text-decoration: none;
		letter-spacing: .05em;

		&::after {
			margin-left: 10px;
			content: url(https://github.com/foolish-pine/KAGU/blob/master/image/img_arrow_black.png?raw=true);
		}
	}
}
