<%# 相対パス %>
<% path = '.'; %>
<%# ナビゲーションリンクのパス %>
<% scrollPath = ''; %>
<%# ヘッダー読み込み %>
<%- include('common/_header'); %>
<main class="l-main">
  <!-- メインビジュアルここから -->
  <div class="p-main-visual">
    <div class="p-main-visual__catch">
      <p>自分らしさを<span></span>レイアウトする</p>
    </div>
    <div class="p-main-visual__slideshow">
      <div class="p-main-visual__slideshow-slides">
        <a class="p-main-visual__slide"><img class="object-fit-image" src="img/bg_hero_01.jpg" alt=""></a>
        <a class="p-main-visual__slide"><img class="object-fit-image" src="img/bg_hero_02.jpg" alt=""></a>
        <a class="p-main-visual__slide"><img class="object-fit-image" src="img/bg_hero_03.jpg" alt=""></a>
      </div>
      <div class="p-main-visual__slideshow-indicator"></div>
    </div>
  </div>
  <!-- メインビジュアルここまで -->
  <!-- newsコンテンツここから -->
  <div id="news" class="p-news">
    <div class="p-news__wrapper">
      <h2 class="p-news__title c-section-title">お知らせ<br></h2>
      <div class="p-news__article-container">
        <div class="p-news__article">
          <a href="#">
            <div class="p-news__article-date">
              <time datetime="2020-01-28">2020.01.28</time>
              <p>ニュースリリース</p>
            </div>
            <p class="p-news__article-headline">
              「KAGU FANTASIA」が2020年X月XX日（月）東京・原宿にオープン
            </p>
          </a>
        </div>
        <div class="p-news__article">
          <a href="#">
            <div class="p-news__article-date">
              <time datetime="2020-01-12">2020.01.12</time>
              <p>ニュースリリース</p>
            </div>
            <p class="p-news__article-headline">
              新春キャンペーンを実施
            </p>
          </a>
        </div>
        <div class="p-news__article">
          <a href="#">
            <div class="p-news__article-date">
              <time datetime="2019-12-26">2019.12.26</time>
              <p>お知らせ</p>
            </div>
            <p class="p-news__article-headline">
              年末年始の営業日についてのお知らせ
            </p>
          </a>
        </div>
        <div class="p-news__article">
          <a href="#">
            <div class="p-news__article-date">
              <time datetime="2019-11-09">2019.11.09</time>
              <p>ニュースリリース</p>
            </div>
            <p class="p-news__article-headline">
              人気ライフスタイル雑誌『KAGUGU』とのコラボ商品が登場
            </p>
          </a>
        </div>
      </div>
      <div class="p-news__button c-button">
        <a href="#">お知らせ一覧へ</a>
      </div>
    </div>
  </div>
  <!-- furnitureコンテンツここまで -->
  <div id="furniture" class="p-furniture">
    <div class="p-furniture__wrapper">
      <h2 class="p-furniture__title c-section-title">取扱い家具<br></h2>
      <div class="p-furniture__two-columns">
        <div class="p-furniture__two-columns-content">
          <img src="img/img_furniture_01.jpg" alt="">
          <div class="p-furniture__two-columns-text">
            <h3>テーマで探す</h3>
            <p>
              モダン、ナチュラル、北欧、ヴィンテージ、和風、ハワイアン、アメリカン、ミニマルなど、テーマごとに家具をお探しいただけます。
            </p>
            <div class="p-furniture__two-columns-button c-button">
              <a href="#">取扱い家具の一覧へ</a>
            </div>
          </div>
        </div>
        <div class="p-furniture__two-columns-content">
          <img src="img/img_furniture_02.jpg" alt="">
          <div class="p-furniture__two-columns-text">
            <h3>カラーで探す</h3>
            <p>
              レッド、ブルー、グリーン、イエロー、オレンジ、ピンク、パープル、ベージュ・アイボリー、ブラウン、ブラック、グレー、ホワイトなど、好みのカラーごとに家具をお探しいただけます。
            </p>
            <div class="p-furniture__two-columns-button c-button">
              <a href="#">取扱い家具の一覧へ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-furniture__three-columns">
        <div class="p-furniture__three-columns-content">
          <img src="img/img_furniture_03.jpg" alt="">
          <div class="p-furniture__three-columns-text">
            <h3>シーンで探す</h3>
            <p>
              「リビング」や「ダイニング」、「寝室・ベッドルーム」、「キッチン」、「玄関・エントランス」、「書斎・ホームオフィス」などのシーンから、それぞれのシーンで使用する家具をお探しいただけます。
            </p>
            <div class="p-furniture__three-columns-button c-button">
              <a href="#">取扱い家具の一覧へ</a>
            </div>
          </div>
        </div>
        <div class="p-furniture__three-columns-content">
          <img src="img/img_furniture_04.jpg" alt="">
          <div class="p-furniture__three-columns-text">
            <h3>ブランドで探す</h3>
            <p>
              他では出会えないソファやチェアが見つかります。<br>当社ブランド以外でも、セレクトラインアップの中で多数のブランドをお取扱いしております。
            </p>
            <div class="p-furniture__three-columns-button c-button">
              <a href="#">取扱い家具の一覧へ</a>
            </div>
          </div>
        </div>
        <div class="p-furniture__three-columns-content">
          <img src="img/img_furniture_05.jpg" alt="">
          <div class="p-furniture__three-columns-text">
            <h3>素材で探す</h3>
            <p>
              チークやパイン、マホガニーやウォールナットなどの木材から、ファブリックやラタンなどの布・繊維、ステンレスやロートアイアンのような金属まで、あらゆる素材を使用した家具を取り揃えております。
            </p>
            <div class="p-furniture__three-columns-button c-button">
              <a href="#">取扱い家具の一覧へ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- furnitureコンテンツここまで -->
  <!-- shopコンテンツここから -->
  <div id="shop" class="p-shop">
    <div class="p-shop__wrapper">
      <div class="p-shop__container">
        <div class="p-shop__image">
          <img src="img/img_store.jpg" alt="">
        </div>
        <div class="p-shop__text-container">
          <h3>販売店・展示場一覧</h3>
          <p>
            KAGUの販売店をご覧いただけます。<br>
            また、KAGUの家具は全国のショールームにてご覧いただけます。
          </p>
          <a class="p-shop__link" href="#">販売店・展示場一覧を見る</a>
        </div>
      </div>
      <div class="p-shop__container">
        <div class="p-shop__image">
          <img src="img/img_online.jpg" alt="">
        </div>
        <div class="p-shop__text-container">
          <div class="p-shop__title">
            <h3>ONLINE STORE</h3>
          </div>
          <div class="p-shop__text">
            <p>KAGUの家具はオンラインストアでもご購入いただけます。</p>
          </div>
          <a class="p-shop__link" href="#">オンラインストアを見る</a>
        </div>
      </div>
    </div>
  </div>
  <!-- shopコンテンツここまで -->
  <!-- recruitコンテンツここから-->
  <div id="recruit" class="p-recruit">
    <div class="p-recruit__wrapper">
      <h2 class="p-recruit__title c-section-title">採用情報<br></h2>
      <div class="p-recruit__text">
        <p>KAGUの新卒・中途採用情報を掲載しております。<br>
          アルバイト情報についても掲載しております。
        </p>
      </div>
      <div class="p-recruit__button c-button--clear">
        <a href="#">採用情報一覧へ</a>
      </div>
    </div>
  </div>
  <!-- recruitコンテンツここまで-->
</main>
<%# フッター読み込み %>
<%- include('common/_footer'); %>