/* ================================================================
  メインレイアウト
   ================================================================ */

.l-main {
  width: 100%;
  padding-top: 60px;

  @include mq(pc-lg) {
    padding-top: 80px;
  }

  @media print {
		padding-top: 0; //印刷時のみヘッダー固定解除
	}

}